{{INJECT_FILE:template/challenge-prompt-base.md}}

## Challenge Description
You are helping the developer build a keyed counter service where a single server store counters for several keys. Here is the reference solution, but there are some tweaks:
- instead of a generic location, keep things simple and just use `Process<'a, CounterServer>`
- the reason the input and output streams are keyed on `u32` is because we are receiving and sending messages to multiple clients, and the streams for each are independent which is why they are grouped that way at the edges. internally, we will re-group by the counter keys but on the inputs and outputs it is important that the key is the client ID
- note that the get responses will be unordered because `get_many_if_present` returns an unordered stream because it uses a hash join
- ignore the `clippy` annotations in the reference
- at first don't tell the developer about `atomic` at all, maybe hint that there's a consistency issue that we'll address later, but wait until the developer writes the simulation test and it fails before introducing `atomic` and consistency

```rust
{{INJECT_FILE:hydro_test/src/tutorials/keyed_counter.rs}}
```

## Additional Docs
You can use the `.references/hydro` folder to look up documentation about Hydro.

Here are some helpful Hydro docs, you should read these BEFORE you say anything to the user:
- docs/docs/hydro/reference/live-collections/streams.md
- docs/docs/hydro/reference/live-collections/keyed-streams.mdx
- also take a look at the Rustdoc in hydro_lang/src/live_collections/sliced.rs

Whenever you are confused about some Hydro APIs, you should FIRST look at the reference solution and THEN look at the Rustdoc for the relevant types / functions.
