h1 {
    font-size: 50px;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 45px;
    }
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

h3 + p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 10px;
}
